*.exe
*.identcache
*.local
*.log
*.mi
*.ppu
*.o
*.compiled
*.bak
*.or
*.a
*.rsj
*.dcu
*.ini
*.stat
*.rar
*.log.txt
bugreport.txt
/bat/rsvars_local.bat
/KaM_Remake.drc
/KaM_Remake.map
/KaM_Remake.res
/Export
/Saves
/SavesMP
/SpriteResource/gui.rx
/SpriteResource/guimain.rx
/SpriteResource/guimainh.rx
/SpriteResource/houses.rx
/SpriteResource/trees.rx
/SpriteResource/units.rx
/data/Sprites
/data/defines/houses.dat
/data/defines/pattern.dat
/data/defines/unit.dat
/data/gfx/video 
/data/gfx/*.bbm
/data/gfx/*.lbm
/data/sfx
/Installer/BuildFull*
/Installer/BuildUpdate*
/Installer/CheckKaM.iss
/Utils/DedicatedServer/KaM_Remake_Server_linux_x86
/Utils/DedicatedServer/KaM_Remake_Server_linux_x86_64
/dcu
/src/net/KM_NetAuthSecure.pas
__history
__recovery
*.tvsconfig
/Utils/*/*.dll
/Utils/*/*.res
/Utils/*/*.map
/Utils/*/*.drc
/Test*/*.res
/Utils/*/KaM_Remake_Server_Status.*
